:root {
  /* colors */
  --primaryWhite: #fff;
  --primaryBlack: #231F20;
  --primaryLightBlack: #222222;
  --primaryGray: #4A4B4D;
  --primaryLightGray: #707070;
  --primaryRed: #E2342D;
  --primaryBlue: #004197;

  /* fonts */
  --primaryFont: "Poppins", sans-serif;
  --secondaryFont: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

hr {
  width: 99%;
  border: 1px solid #D2D2D2;
  background-color: #D2D2D2;
  margin: 0 0 0 5px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}

/* ~ Header Section */
/* ~ Login Section */
.login_div {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--primaryWhite);
  font-family: var(--secondaryFont);
}

.login_div ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0 100px 0 0;
  padding: 0;
}

.login_div li {
  color: var(--primaryGray);
  margin: 0 0 0 44px;
  padding: 0;
  cursor: pointer;
}

.login_div li:hover {
  color: #000;
  font-weight: bold;
  transition: 0.4s;
}

/* ~ Navbar */
.navbar {
  width: auto;
  height: 154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_lupa {
  width: 100%;
  align-items: center;
}

.search_lupa img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.nav_links {
  margin: 0 0 0 70px;
}

.nav_links ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.nav_links ul li {
  width: 120px;
  margin: 0 36px 0;
  cursor: pointer;
}

.nav_links ul li:hover {
  color: var(--primaryRed);
  transition: 0.4s;
}

.nav_links ul li span {
  color: var(--primaryBlue);
}

.nav_links .brand {
  font-family: 'Monotype Corsiva';
  font-size: 40px;
  color: var(--primaryRed);
}

.link_icons {
  width: 100%;
  margin: 0 0 20px 0;
}

.link_icons img {
  margin: 0 26px 10px 0;
  cursor: pointer;
}

@media screen and (max-width: 1340px) {

  .link_icons,
  .search_lupa {
    display: none;
  }

  .nav_links ul li {
    width: 120px;
    margin: 0 26px 0;
    cursor: pointer;
  }

  .navbar {
    width: auto;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_links {
    margin: 0 0 0 0px;
  }
}

@media screen and (max-width: 950px) {

  .list1,
  .list5 {
    display: none;
  }
}

@media screen and (max-width: 610px) {

  .list2,
  .list4,
  .login_div li {
    display: none;
  }

  .nav_links {
    margin: 0 0 0 0px;
  }
}


/* ~ Home Section Text */
.home_serv {
  background-color: #F8F8F8;
}

.home_serv_cont {
  height: 614px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.home_serv_text h1 {
  color: var(--primaryBlue);
}

.wrapper {
  width: 580px;
}

.wrapper h1 {
  font-size: 54px;
  font-weight: 700;
  font-family: var(--primaryFont);
}

.wrapper p {
  font-size: 20px;
  font-family: var(--secondaryFont);
  margin: 0 0 76px 0;
}

.wrapper button {
  width: 220px;
  height: 50px;
  padding: 10px 44px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  background-color: var(--primaryRed);
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .wrapper h1 {
    font-size: 44px;
  }

  .wrapper p {
    font-size: 18px;
  }

}

@media screen and (max-width: 610px) {
  .wrapper h1 {
    font-size: 30px;
  }
}

/* ~ Home Section Image */
.home_serv_img {
  width: 500px;
  height: 500px;
}

.home_serv_img div {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1340px) {
  .home_serv_img {
    display: none;
  }

  .wrapper {
    width: 80%;
  }
}

/* ~ New Products */
.new_prod_text {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  margin: 100px 0 36px 0;
  color: var(--primaryRed);
}

.new_prod_text span {
  color: var(--primaryBlue);
}

.new_prod_grid_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 100px 0;
  gap: 20px;
}

/* todo  */
.new_prod_cont {}


.new_prod_box {
  position: relative;
  width: 390px;
  height: 540px;
  background-color: #F3F3F3;
}

.new_prod_box img {
  padding: 109px 35px;
}

.new_prod_box_text {
  font-family: var(--primaryFont);
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: var(--primaryBlack);
}

.top_seller {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  right: 0;

  width: 148px;
  height: 30px;
  padding: 6px 22px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  color: #FFFFFF;
  background-color: var(--primaryRed);
  cursor: pointer;
}

@media screen and (max-width: 1210px) {
  .resp3 {
    /* margin-top: 80px; */
    width: 600px;
  }
}

@media screen and (max-width: 950px) {
  .new_prod_text {
    font-size: 30px;
  }

}

@media screen and (max-width: 800px) {
  .new_prod_grid {
    margin-top: 80px;
  }

  .new_prod_grid:first-child {
    margin-top: 0;
  }

  .resp3 {
    margin-top: 0;
    width: 390px;
  }
}


@media screen and (max-width: 610px) {
  .new_prod_text {
    font-size: 24px;
  }
}

/* ~ Discount */
.discount .container {
  width: 100%;
  margin-bottom: 100px;
}

.disc_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* * left side */
.disc_left div img {
  width: 520px;
  height: 630px;
}

/* * right side */
.disc_right {
  margin: 0 40px 0;
}

.disc_right_box_img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.disc_right_cont {
  border: 1px solid red;
}

.disc_right_box {
  position: relative;
  background-color: #F3F3F3;
}

.axe_img {
  width: 280px;
  height: 280px;
  padding: 70px 20px;
}

.pad_img {
  width: 240px;
  height: 240px;
  padding: 90px 40px;
}

.disc_top_seller {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  right: 0;

  width: 148px;
  height: 30px;
  padding: 6px 24px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  color: #FFFFFF;
  background-color: var(--primaryRed);
  font-family: var(--secondaryFont);
  cursor: pointer;
}

.disc_right_text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  margin: 30px 0 48px 0;

  font-size: 28px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlack);
  font-family: var(--primaryFont);
}

.disc_right_text span {
  color: var(--primaryRed);
}

.disc_right_text button {
  width: 124px;
  height: 40px;
  margin: 0 0 0 82px;

  border: 0;
  font-family: var(--secondaryFont);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  background-color: #D2D2D2;
  cursor: pointer;
}

.disc_right_box_text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;

  color: var(--primaryBlack);
  font-family: var(--primaryFont);
}

.disc_right_box_text p {
  margin: 0 0 0 0;
  padding: 8px 0 4px;
}

.disc_right_box_text p:nth-child(2) {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.disc_right_box_text p span {
  text-decoration: line-through;
}

@media only screen and (max-width: 730px) {
  .disc_right_box_img {
    justify-content: center;
  }

  .disc_right_cont {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .disc_right_text {
    font-size: 24px;
    line-height: 36px;
  }

  .disc_right {
    margin-top: 30px;
  }

  .disc_right_text button {
    margin: 0 0 0 40px;
  }

  .disc_right_box_img {
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .disc_right_text {
    font-size: 20px;
    line-height: 30px;
  }

  .disc_cont {
    justify-content: space-between;
  }
}


/* ~ Top Sellings */
.sellings .container {
  width: 100%;
  margin-bottom: 80px;
}

.sell_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* * left side */
.sell_left div img {
  width: 520px;
  height: 630px;
}

/* * right side */
.sell_right {
  margin: 0 40px 0;
}

.sell_right_box_img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sell_right_cont {
  border: 1px solid red;
}

.sell_right_box {
  position: relative;
  background-color: #F3F3F3;
}

.axe_img {
  width: 280px;
  height: 280px;
  padding: 70px 20px;
}

.pad_img {
  width: 240px;
  height: 240px;
  padding: 90px 40px;
}

.sell_top_seller {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  right: 0;

  width: 148px;
  height: 30px;
  padding: 6px 24px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  color: #FFFFFF;
  background-color: var(--primaryRed);
  font-family: var(--secondaryFont);
  cursor: pointer;
}

.sell_right_text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  margin: 30px 0 48px 0;

  font-size: 28px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlack);
  font-family: var(--primaryFont);
}

.sell_right_text span {
  color: var(--primaryRed);
}

.sell_right_text button {
  width: 124px;
  height: 40px;
  margin: 0 0 0 82px;

  border: 0;
  font-family: var(--secondaryFont);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  background-color: #D2D2D2;
  cursor: pointer;
}

.sell_right_box_text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;

  color: var(--primaryBlack);
  font-family: var(--primaryFont);
}

.sell_right_box_text p {
  margin: 0 0 0 0;
  padding: 8px 0 4px;
}

.sell_right_box_text p:nth-child(2) {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.sell_right_box_text p span {
  text-decoration: line-through;
}

@media only screen and (max-width: 730px) {
  .sell_right_box_img {
    justify-content: center;
  }

  .sell_right_cont {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .sell_right_text {
    font-size: 24px;
    line-height: 36px;
  }

  .sell_right {
    margin-top: 30px;
  }

  .sell_right_text button {
    margin: 0 0 0 40px;
  }

  .sell_right_box_img {
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .sell_right_text {
    font-size: 20px;
    line-height: 30px;
  }

  .sell_cont {
    justify-content: space-between;
  }
}

/* ~ Covid */
.covid {
  margin-bottom: 50px;
}

.covid h1 span {
  color: var(--primaryRed);
}

.covid p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;

  font-family: var(--secondaryFont);

  flex-wrap: wrap;
  padding: 0 350px;
}

/* ~ Footer */

.footer {
  /* display: flex; */

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 50px;
}

.footer_brand {
  width: 196px;
  height: 122px;
  margin: 0 0;

  font-size: 54px;
  line-height: 60px;
  font-weight: 400;
  text-align: start;

  color: var(--primaryRed);
  font-family: "Monotype Corsiva";
  cursor: pointer;
}

.footer_brand span {
  color: var(--primaryBlue);
}

.footer_cont ul {
  padding-inline-start: 0;
  padding: 0 0 0 0;

}

.footer_cont ul li {
  list-style-type: none;
  text-align: start;

  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 20px;

  color: var(--primaryLightBlack);
  font-family: var(--secondaryFont);
  cursor: pointer;
}

.footer_links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_cont {}

.subscribe {
  width: 428px;
  height: 220px;

}

.footer_cont p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  text-align: start;
  color: var(--primaryLightBlack);
  font-family: var(--secondaryFont);
}

.subscribe_email {
  width: fit-content;
}

.email_placeholder {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  font-family: var(--secondaryFont);
  border-style: none;
  padding: 16px 0;
}

.email_hr {
  width: 400px;
  /* border: 1px solid #222222; */
  background-color: #222222;
}

.all_rights {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  font-family: var(--secondaryFont);
}

/* ! Collection */
/* ~ Cover */

.cover_img {
  margin-bottom: 50px;
}